.footer{
  /* display: flex;
  justify-content: center;
  align-items: end; */
}
.category-card{
  display: flex;
  width: auto;
  height: 140px;
  background-color: antiquewhite;
  gap: 80px;
  margin: 30px;
  border-radius: 30px;
  transition: transform .2s; /* Animation */
  cursor: pointer;
}

.category-details{
  display: flex;
  align-items: center;
  font-size: 20px;
}

.category-card:hover{
  background-color: rgb(241, 207, 163);
  transform: scale(0.9);
}

.footer-container{
  background-color: rgb(241, 207, 163);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  
}

.header-container{
  background-color: rgb(61, 60, 60);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 20px;
  gap: 30px;
  color: white;
  font-size: 20px;
  transition: transform .1s; /* Animation */
}

.header-container div{
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100px;
}

.header-container div a{
  color: white;
  text-transform: none;
  text-decoration: none;
}

.header-container div:hover{
  /* color: black; */
  background-color: rgb(255,98,67);;
  cursor: pointer;
  /* transform: scale(0.7); */
  height: 100%;
  width: 100px;
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}

.product-cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
}

@media screen and (max-width: 1000px) {

  .product-cards{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: auto;
  }

  .product-card-bottom{
      display: flex;
      padding-left: 5%;
  }

  .product-card-bottom button{
      margin-left: 20px;
      height: 25px;
      margin-top: 12px;
      border-radius: 20px;
      width: 10px;
      background-color: rgb(255,98,67);
      color: white;
      cursor: pointer;
      border: none;
  }

}

@media screen and (max-width: 500px) {

  .product-cards{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: auto;
  }
}

.product-card{
  /* display: flex;; */
  margin: 20px;
  background-color: antiquewhite;
  width: auto;
  height: 400px;
  display: inline-block;
  overflow: hidden;
  position: relative;
  padding: 20px;
  border-radius: 20px;
  transition: transform .1s; /* Animation */
  cursor: pointer;
}

.product-card:hover{
  background-color: rgb(241, 207, 163);
  transform: scale(0.9);
}

.product-image{
  width: 100%;
  height: 80%;
  border-radius: 10px;
}

.product-title{
  display: flex;
  justify-content: center;
  margin-top: 5px;
  font-size: 15px;
}

.product-description{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-price{
  display: flex;
  justify-content: center;
  font-size: 25px;
  margin-top: 10px;
}

.product-card-bottom{
  display: flex;
  padding-left: 15%;
}

.product-card-bottom button{
  margin-left: 20px;
  height: 25px;
  margin-top: 12px;
  border-radius: 20px;
  width: 150px;
  background-color: rgb(255,98,67);
  color: white;
  cursor: pointer;
  border: none;
}

.tag{    
  position: absolute;
  width:10%;
  height:15%;
  object-fit: cover;
  margin-left: 75%;
  margin-top: -20px;
  /* overflow: hidden; */
}

.product-detail-card{
  position: absolute;
  transform: translate(15%, 0%);
  height: 460px;
  margin: 42px;
  width: 70%;
  background: antiquewhite;;
  border-radius: 20px;
  display: flex;
}

.product-detail-image{
  height: 92%;
  width: auto;
  margin: 20px;
  border-radius: 10px;
}

.product-detail-title{
  margin-top: 50px;
  margin-left: 50px;
  font-size: 50px;
  font-family: Courier New, monospace;
}

.product-detail-description{
  margin-top: 20px;
  font-size: 20px;
  margin-left: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-detail-price{
  margin-top: 20px;
  font-size: 50px;
  margin-left: 20px;
}

.product-detail-tag{
  position: absolute;
  height: 117px !important;
  margin-top: -5px !important ;
}

.product-detail-buy-now{
  margin-top: 60px;
  margin-left: 20px;
  margin-right: 10px;
  background-color: rgb(255,98,67);
  border: none;
  border-radius: 20px;
  width: 200px;
  height: 40px;
  cursor: pointer;
  color: white;
  font-size: 18px;
}

.product-detail-add-cart{
  background-color: rgb(255,98,67);
  border: none;
  border-radius: 20px;
  width: 200px;
  height: 40px;
  cursor: pointer;
  color: white;
  font-size: 18px;
}

.product-detail-right{
  margin-left: 200px;
}

.rsis-container{
  border-radius: 30px ;
}

.product-detail-buy-now:hover{
  background-color: rgb(255, 150, 129);
  color: black;
}
.product-detail-add-cart:hover{
  background-color: rgb(255, 150, 129);
  color: black;
}
.product-card-bottom button:hover{
  background-color: rgb(255, 150, 129);
  color: black;
}

.home-tag{
  position: absolute;
  height: 117px;
  object-fit: cover;
}

.cart{
  height: 65%;
  margin-right: 25px;
  /* margin-left: -20; */
  cursor: pointer;
}

.man{

  height: 84%;
  border-radius: 10px;
}

.admin-login-card{
  /* text-align: center; */
  /* margin: 200px; */
  background-color: antiquewhite;
  padding: 20px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-left: 150px;
  margin-right: 150px;
}

.admin-login-card div{
  padding: 10px;
  font-size: 20px;
  display: flex;
}

.admin-login-field-card div{
  width: 100px;
  font-size: 20px;
}

.admin-login-field-card input{
  width: 340px;
  /* border: none; */
  border-radius: 30px;
  padding-left: 20px;
  font-size: 20px;
}

.admin-login-field-card input:hover{
  border-color: rgb(255,98,67);
}

.admin-login-button{
  background-color: rgb(255,98,67);
  border: none;
  border-radius: 20px;
  width: 200px;
  height: 40px;
  cursor: pointer;
  color: white;
  font-size: 18px;
}


.admin-login-button:hover{
  background-color: rgb(255, 150, 129);
  color: black;
}

.create-a-category{
  /* float: right; */
  margin: 20px;

  background-color: rgb(255,98,67);
  border: none;
  border-radius: 20px;
  width: 200px;
  height: 38px;
  cursor: pointer;
  color: white;
  font-size: 18px;
}


.create-a-category:hover{
  background-color: rgb(255, 150, 129);
  color: black;
}



.add-category-form-card{
  /* text-align: center; */
  /* margin: 200px; */
  background-color: antiquewhite;
  padding: 20px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-left: 150px;
  margin-right: 150px;
  padding: 50px;
}

.category-name{

  width: 400px;
  height: 35px;
  border-radius: 30px;
  /* border: none; */
  padding-left: 20px;
  font-size: 20px;
}

.category-name:hover{
  border-color: rgb(255,98,67);
}

.category-image{

  width: 400px;
  height: 35px;
  border-radius: 30px;
  /* border: none; */
  padding-left: 20px;
  font-size: 20px;
}

.category-create{
  background-color: rgb(255,98,67);
  border: none;
  border-radius: 20px;
  width: 300px;
  height: 40px;
  cursor: pointer;
  color: white;
  font-size: 18px;
}

.category-create:hover{
  background-color: rgb(255, 150, 129);
  color: black;
}

.edit-category-btn{

  position: absolute;
  /* margin: 1px; */ 
  margin-top: -95px;
  margin-right: 180px;
  background-color: rgb(255,98,67);
  color: white;
  border: none;
  border-radius: 20px;
  width: 300px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
  /* position: absolute; */
  cursor: pointer;
  right: 0;
  /* margin-right: 100px; */
  /* margin-top: 10px; */
}

.edit-category-btn:hover{
  background-color: rgb(255, 150, 129);
  color: black;
}

.delete-category-btn{

  position: absolute;
  /* margin: 1px; */
  margin-top: -151px;
  margin-right: 180px;
  background-color: rgb(255,98,67);
  color: white;
  border: none;
  border-radius: 20px;
  width: 300px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
  /* position: absolute; */
  cursor: pointer;
  right: 0;
  /* margin-right: 100px; */
  /* margin-top: 10px; */
}

.delete-category-btn:hover{
  background-color: rgb(255, 150, 129);
  color: black;
}

.admin-category-list{
  display: grid;
}

.back-button{
  margin: 20px;
  background-color: rgb(255,98,67);
  width: 115px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  color: white;
  cursor: pointer;
}

.back-button:hover{
  background-color: rgb(255, 150, 129);
  color: black;
}

.popup-overlay {position: relative;
  max-width: 20rem;
  padding: 2rem;
  border: 0;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0.25rem hsl(0 0% 0% / 10%);
}

.react-confirm-alert-overlay {
background: rgba(0, 0, 0, 0.7);
}
.overlay-custom-class-name {
  position: relative;
  max-width: 20rem;
  padding: 2rem;
  border: 0;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0.25rem hsl(0 0% 0% / 10%);
}

.conform{
  background-color: rgb(255,98,67) !important;
  width: 115px !important;
  height: 40px !important;
  border-radius: 30px !important;
  color: white !important;
}

.conform:hover{
  background-color: rgb(255, 150, 129) !important;
  color: black !important;
}

.add-product-form{
  position: absolute;
  background-color: antiquewhite;
  margin-left: 50%;
  transform: translate(-50%, 0);
  padding: 20px;
  border-radius: 30px;
  padding: 50px;
}

.add-product-form input{
  display: flex;
  width: 400px;
  height: 35px;
  border-radius: 30px;    
  padding-left: 20px;
  font-size: 20px;
  margin: 20px;
}

.add-more-image-button{
  margin: 20px;
  background-color: rgb(255,98,67);
  width: 115px;
  height: 40px;
  display: flex;
  justify-content: center;
  border: none;
  align-items: center;
  border-radius: 30px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.add-produce-button{
  margin: 20px;
  background-color: rgb(255,98,67);
  width: 420px;
  height: 40px;
  display: flex;
  justify-content: center;
  font-size: 20px;
  border: none;
  align-items: center;
  border-radius: 30px;
  color: white;
  cursor: pointer;
}

.add-produce-button:hover{
  background-color: rgb(255, 150, 129);
  color: black;
}
.add-more-image-button:hover{
  background-color: rgb(255, 150, 129);
  color: black;
}

.add-product-form textarea{
  display: flex;
  width: 400px;
  border-radius: 30px;    
  padding-left: 20px;
  padding-top: 20px;
  font-size: 20px;
  margin: 20px;
}

textarea::-webkit-scrollbar {
}

.heading-2{
  margin-left: 30px;
}

.show-all-products{

  margin: 20px;
  background-color: rgb(255,98,67);
  width: 220px;
  height: 40px;
  display: flex;
  justify-content: center;
  font-size: 20px;
  border: none;
  align-items: center;
  border-radius: 30px;
  color: white;
  cursor: pointer;
}

.show-all-products:hover{
  background-color: rgb(255, 150, 129);
  color: black;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  margin-left: 50%;
  margin-top: 30%;
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid rgb(255,98,67);
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}